header{
    min-height: 100px;
}

.logo{
    margin-top: 25px
}
.navbar{
    padding-top: 20px
}

.header-nav li{
    float: left
}
.header-nav li a{
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 30px;     
}

.header-nav li a:hover{
    background: none;
    color: #2955CC
}

.navbar-toggle{
    background: #ddd;
    
}



.navbar-default{
    background: transparent;
    border: 0px
}




#slider{
    background: url(../img/i.jpeg) no-repeat;
    background-size: cover;
    min-height: 450px;
    text-align: center}

.banner_content{
        margin-top: 10%;
        color: white
}

.banner_content h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.banner_content p{
    font-size: 18px;
    margin: 25px 0px
    
}
.banner_content span{
    background-color: #16A3F8;
    display: block;
    min-height: 3px;
    width: 50%;
    margin: 0 auto
}

.same_btn{
    background: transparent;
    color: white;
    text-transform: uppercase;
}

#text{
    min-height: 200px;
    text-align:center;
     background-color: #F6F9F9;
    
}

.bg-color{
   
    min-height: 150px
}
.text_content h2{
    text-transform: uppercase;
    color: #2D3950;
    font-size: 30px;
    padding-top: 25px
}
.text_content p{
    color: #C2B0A2;
    font-size: 18px
}

#image_gallery{
    min-height: 300px;
    margin-top: 20px
}

.single_img{
    text-align: center
}

.single_img h3{
    text-transform: uppercase;
     
    font-size: 25px
}
.single_img p{}


#work{
    min-height: 700px;
}

.img{
    width: 100%;
    min-height: 200px;
    margin-bottom: 15px
}
.work_title{
    min-height: 115px;
    text-align: center;
}
.work_title h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #2D3950;s
}
.work_title p{
        font-family: sans-serif;
    font-size: 18px;
    color: #333000;
    text-transform: capitalize
}
#stay{
    text-align: center;
    min-height: 500px;
    background: url('../img/c.jpeg') no-repeat;
    background-size: cover;
    
   
}

.form_stay{
   
}
.form_stay ul{
    list-style: none
}
.form_stay ul li{
    float: left;
    color: aqua;
    font-size: 18px;
    
}
.form_stay{}

.btn_stay{
    width: 100%;
    color: red;
    font-size: 18px;
    font-weight: bold
}

.input_sty{
    margin-bottom: 10px;
    background: transparent
}

.stay_title{
     color: white
}
.stay_title h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
   
}
.stay_title p{
   font-family: sans-serif;
    font-size: 18px;
 
    text-transform: capitalize
    
}

#footer{
    min-height: 80px;
    background: #ddd;
     margin-bottom: 25px
}

.copyright{
    color: green;
    padding-top: 25px;
    font-size: 18px;
    
}

.foot_icon{
    padding-top: 25px
}

.foot_icon i{
    padding-right: 22px;
    font-size: 18px
}

